.prose {
  --prose-body: var(--color-zinc-600);
  --prose-headings: var(--color-zinc-900);
  --prose-links: var(--color-violet-500);
  --prose-links-hover: var(--color-violet-600);
  --prose-underline: --alpha(var(--color-violet-950) / 20%);
  --prose-underline-hover: var(--color-violet-500);
  --prose-bold: var(--color-zinc-900);
  --prose-counters: var(--color-zinc-900);
  --prose-bullets: var(--color-zinc-900);
  --prose-hr: var(--color-zinc-100);
  --prose-quote-borders: var(--color-zinc-200);
  --prose-quote-bg: var(--color-zinc-50);
  --prose-captions: var(--color-zinc-400);
  --prose-code: var(--color-violet-600);
  --prose-code-bg: var(--color-zinc-100);
  --prose-code-border: var(--color-zinc-200);
  --prose-pre-code: var(--color-zinc-800);
  --prose-pre-bg: var(--color-zinc-100);
  --prose-pre-border: transparent;
  --prose-th-borders: var(--color-zinc-200);
  --prose-td-borders: var(--color-zinc-100);
  --prose-task-list-checkbox-bg: var(--color-white);
  --prose-task-list-checkbox-border: var(--color-zinc-400);
  --prose-task-list-checkbox-checked-bg: var(--color-blue-500);
  --prose-task-list-checkbox-checked-border: var(--color-blue-500);

  &:where(.dark, .dark *) {
    --prose-body: var(--color-zinc-400);
    --prose-headings: var(--color-zinc-200);
    --prose-links: var(--color-violet-400);
    --prose-links-hover: var(--color-violet-500);
    --prose-underline: --alpha(var(--color-violet-400) / 30%);
    --prose-underline-hover: var(--color-violet-400);
    --prose-bold: var(--color-zinc-200);
    --prose-counters: var(--color-zinc-200);
    --prose-bullets: var(--color-zinc-200);
    --prose-hr: --alpha(var(--color-zinc-700) / 40%);
    --prose-quote-borders: --alpha(var(--color-white) / 10%);
    --prose-quote-bg: var(--color-zinc-800);
    --prose-captions: var(--color-zinc-500);
    --prose-code: var(--color-violet-400);
    --prose-code-bg: var(--color-zinc-800);
    --prose-code-border: var(--color-zinc-700);
    --prose-pre-code: var(--color-zinc-100);
    --prose-pre-bg: --alpha(var(--color-black) / 40%);
    --prose-pre-border: --alpha(var(--color-zinc-200) / 10%);
    --prose-th-borders: var(--color-zinc-700);
    --prose-td-borders: var(--color-zinc-800);
    --prose-task-list-checkbox-bg: var(--color-zinc-800);
    --prose-task-list-checkbox-border: var(--color-zinc-700);
    --prose-task-list-checkbox-checked-bg: var(--color-blue-500);
    --prose-task-list-checkbox-checked-border: var(--color-blue-500);
  }

  @media (prefers-color-scheme: dark) {
    &:where(.system, .system *) {
      --prose-body: var(--color-zinc-400);
      --prose-headings: var(--color-zinc-200);
      --prose-links: var(--color-violet-400);
      --prose-links-hover: var(--color-violet-500);
      --prose-underline: --alpha(var(--color-violet-400) / 30%);
      --prose-underline-hover: var(--color-violet-400);
      --prose-bold: var(--color-zinc-200);
      --prose-counters: var(--color-zinc-200);
      --prose-bullets: var(--color-zinc-200);
      --prose-hr: --alpha(var(--color-zinc-700) / 40%);
      --prose-quote-borders: --alpha(var(--color-white) / 10%);
      --prose-quote-bg: var(--color-zinc-800);
      --prose-captions: var(--color-zinc-500);
      --prose-code: var(--color-violet-400);
      --prose-code-bg: var(--color-zinc-800);
      --prose-code-border: var(--color-zinc-700);
      --prose-pre-code: var(--color-zinc-100);
      --prose-pre-bg: --alpha(var(--color-black) / 40%);
      --prose-pre-border: --alpha(var(--color-zinc-200) / 10%);
      --prose-th-borders: var(--color-zinc-700);
      --prose-td-borders: var(--color-zinc-800);
      --prose-task-list-checkbox-bg: var(--color-zinc-800);
      --prose-task-list-checkbox-border: var(--color-zinc-700);
      --prose-task-list-checkbox-checked-bg: var(--color-blue-500);
      --prose-task-list-checkbox-checked-border: var(--color-blue-500);
    }
  }

  color: var(--prose-body);
  font-size: var(--text-base);
  line-height: 1.75;

  *:where(:not(.not-prose, .not-prose *))
    + *:where(:not(.not-prose, .not-prose *)) {
    margin-block-start: calc(var(--spacing) * 4);
  }

  h2:where(:not(.not-prose, .not-prose *)) {
    font-size: var(--text-lg);
    line-height: calc(28 / 18);
    letter-spacing: -0.025em;
    color: var(--prose-headings);
    font-weight: var(--font-weight-semibold);
    margin-block-start: calc(var(--spacing) * 10);
  }

  h2:has(+ h3):where(:not(.not-prose, .not-prose *)) {
    font-size: var(--text-xs);
    line-height: 2;
    font-weight: var(--font-weight-medium);
    font-family: var(--font-mono);
    font-variant-ligatures: none;
    letter-spacing: 0.1em;
    color: var(--prose-captions);
    text-transform: uppercase;
  }

  h3:where(:not(.not-prose, .not-prose *)) {
    font-size: var(--text-base);
    line-height: calc(28 / 18);
    color: var(--prose-headings);
    font-weight: var(--font-weight-semibold);
    margin-block-start: calc(var(--spacing) * 8);
  }

  h2 + h3:where(:not(.not-prose, .not-prose *)) {
    margin-block-start: calc(var(--spacing) * 4);
  }

  h4:where(:not(.not-prose, .not-prose *)) {
    font-size: var(--text-sm);
    line-height: calc(28 / 14);
    color: var(--prose-headings);
    font-weight: var(--font-weight-semibold);
    margin-block-start: calc(var(--spacing) * 12);
  }

  :is(h2, h3, h4):where(:not(.not-prose, .not-prose *)) {
    scroll-margin-top: calc(var(--spacing) * 16);

    @variant lg {
      scroll-margin-top: calc(var(--spacing) * 8);
    }
  }

  ul:where(:not(.not-prose, .not-prose *)) {
    list-style-type: disc;
    list-style-position: inside;
  }

  ul li:where(:not(.not-prose, .not-prose *)) {
    padding-inline-start: calc(var(--spacing) * 3);
  }

  ul li + li:where(:not(.not-prose, .not-prose *)) {
    margin-block-start: calc(var(--spacing) * 4);
  }

  ul li:where(:not(.not-prose, .not-prose *))::marker {
    color: var(--prose-bullets);
  }

  ul ul:where(:not(.not-prose, .not-prose *)) {
    list-style-type: circle;
  }

  ul ul ul:where(:not(.not-prose, .not-prose *)) {
    list-style-type: square;
  }

  ol:where(:not(.not-prose, .not-prose *)) {
    list-style-type: decimal;
    list-style-position: inside;
  }

  ol li:where(:not(.not-prose, .not-prose *)) {
    padding-inline-start: calc(var(--spacing) * 3);
  }

  ol li + li:where(:not(.not-prose, .not-prose *)) {
    margin-block-start: calc(var(--spacing) * 4);
  }

  ol li:where(:not(.not-prose, .not-prose *))::marker {
    color: var(--prose-bullets);
  }

  ul.contains-task-list:where(:not(.not-prose, .not-prose *)) {
    list-style-type: none;
    margin-inline-start: 0;
    padding: 0;
  }

  ul.contains-task-list li:where(:not(.not-prose, .not-prose *)) {
    display: flex;
    align-items: center;
    padding-block: 0;
    padding-inline-start: calc(var(--spacing) * 3);
  }

  ul.contains-task-list
    li:has(input:checked):where(:not(.not-prose, .not-prose *)) {
    text-decoration: line-through;
    color: var(--prose-task-list-checkbox-checked-bg);
  }

  ul.contains-task-list input:where(:not(.not-prose, .not-prose *)) {
    width: 1rem;
    height: 1rem;
    appearance: none;
    margin-right: 0.5rem;
    border-radius: 0.125rem;
    border: 1px solid var(--prose-task-list-checkbox-border);
    background-color: var(--prose-task-list-checkbox-bg);
  }

  ul.contains-task-list input:checked:where(:not(.not-prose, .not-prose *)) {
    background-color: var(--prose-task-list-checkbox-checked-bg);
    border-color: var(--prose-task-list-checkbox-checked-border);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMTIgOSI+PHBhdGggZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTEuNzguMjJhLjc1Ljc1IDAgMCAxIDAgMS4wNjFsLTcuMjYgNy4yNmEuNzUuNzUgMCAwIDEtMS4wNjIgMEwuMjAyIDUuMjg1YS43NS43NSAwIDAgMSAxLjA2MS0xLjA2MWwyLjcyNSAyLjcyM0wxMC43MTguMjJhLjc1Ljc1IDAgMCAxIDEuMDYyIDAiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
    background-size: 0.65rem;
    background-position: center;
    background-repeat: no-repeat;
  }

  ul.contains-task-list li code:where(:not(.not-prose, .not-prose *)) {
    margin-block: 0;
    display: inline-block;
    line-height: 1.25;
    vertical-align: middle;
    margin-inline-start: 0.25rem;
  }

  a:not(:where(:is(h2, h3, h4) *)):where(:not(.not-prose, .not-prose *)) {
    color: var(--prose-links);
    font-weight: var(--font-weight-medium);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--prose-underline);
    text-decoration-thickness: 1px;
  }

  a:hover:where(:not(.not-prose, .not-prose *)) {
    color: var(--prose-links-hover);
    text-decoration-color: var(--prose-underline-hover);
  }

  strong:where(:not(.not-prose, .not-prose *)) {
    color: var(--prose-bold);
    font-weight: var(--font-weight-semibold);
  }

  code:where(:not(.not-prose, .not-prose *)) {
    font-variant-ligatures: none;
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    color: var(--prose-code);
    padding-inline: 0.3em;
    border-radius: 0.2em;
    background-color: var(--prose-code-bg);
    border: 1px solid var(--prose-code-border);
  }

  :where(h2, h3, h4) code:where(:not(.not-prose, .not-prose *)) {
    font-weight: var(--font-weight-semibold);
  }

  pre:where(:not(.not-prose, .not-prose *)) {
    margin-block-start: calc(var(--spacing) * 8);
    overflow-x: auto;
    color: var(--prose-pre-code);
    background-color: var(--prose-pre-bg);
    border-radius: var(--radius-lg);
    padding: calc(var(--spacing) * 4);
    border: 1px solid var(--prose-pre-border);
  }

  pre code * + *:where(:not(.not-prose, .not-prose *)) {
    margin-block-start: 0;
  }

  pre code:where(:not(.not-prose, .not-prose *))::before,
  pre code:where(:not(.not-prose, .not-prose *))::after {
    content: none;
  }

  pre code:where(:not(.not-prose, .not-prose *)) {
    color: var(--prose-pre-code);
    font-variant-ligatures: none;
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    line-height: 1.5;
  }

  table:where(:not(.not-prose, .not-prose *)) {
    width: 100%;
    table-layout: auto;
    margin-block-start: 2em;
    margin-block-end: 2em;
    font-size: var(--text-sm);
    line-height: 1.4;
  }

  thead:where(:not(.not-prose, .not-prose *)) {
    border-bottom-width: 1px;
    border-bottom-color: var(--prose-th-borders);
  }

  thead th:where(:not(.not-prose, .not-prose *)) {
    color: var(--prose-headings);
    font-weight: 600;
    vertical-align: bottom;
    padding-inline-end: 0.6em;
    padding-block-end: 0.8em;
    padding-inline-start: 0.6em;
    text-align: start;
  }

  thead th:first-child:where(:not(.not-prose, .not-prose *)) {
    padding-inline-start: 0;
  }

  thead th:last-child:where(:not(.not-prose, .not-prose *)) {
    padding-inline-end: 0;
  }

  tbody tr:where(:not(.not-prose, .not-prose *)) {
    border-bottom-width: 1px;
    border-bottom-color: var(--prose-td-borders);
  }

  tbody tr:last-child:where(:not(.not-prose, .not-prose *)) {
    border-bottom-width: 0;
  }

  tbody td:where(:not(.not-prose, .not-prose *)) {
    vertical-align: baseline;
  }

  tfoot:where(:not(.not-prose, .not-prose *)) {
    border-top-width: 1px;
    border-top-color: var(--prose-th-borders);
  }

  tfoot td:where(:not(.not-prose, .not-prose *)) {
    vertical-align: top;
  }

  tbody td:where(:not(.not-prose, .not-prose *)),
  tfoot td:where(:not(.not-prose, .not-prose *)) {
    padding-block-start: 0.8em;
    padding-inline-end: 0.6em;
    padding-block-end: 0.8em;
    padding-inline-start: 0.6em;
  }

  tbody td:first-child:where(:not(.not-prose, .not-prose *)),
  tfoot td:first-child:where(:not(.not-prose, .not-prose *)) {
    padding-inline-start: 0;
  }

  tbody td:last-child:where(:not(.not-prose, .not-prose *)),
  tfoot td:last-child:where(:not(.not-prose, .not-prose *)) {
    padding-inline-end: 0;
  }

  td code:where(:not(.not-prose, .not-prose *)) {
    font-size: 0.8125rem;
  }

  hr:where(:not(.not-prose, .not-prose *)) {
    border-color: var(--prose-hr);
    margin-block: --spacing(16);

    & + h2 {
      margin-top: --spacing(16);
    }
  }

  blockquote {
    background-color: var(--prose-quote-bg);
    border-radius: var(--radius-xl);
    padding: calc(var(--spacing) * 4);
    border: 1px solid var(--prose-quote-borders);
    box-shadow: var(--shadow-xs);
  }

  figure:where(:not(.not-prose, .not-prose *)) {
    figcaption:where(:not(.not-prose, .not-prose *)) {
      margin-block-start: calc(var(--spacing) * 3);
      text-align: center;
      font-size: var(--text-sm);
      line-height: var(--text-sm--line-height);
      font-style: italic;
      color: color-mix(in oklab, var(--prose-body) 75%, transparent);
    }
  }

  :first-child:where(:not(.not-prose, .not-prose *)) {
    margin-block-start: 0;
  }

  :last-child:where(:not(.not-prose, .not-prose *)) {
    margin-block-end: 0;
  }
}
