@import "tailwindcss";
@import "./typography.css" layer(components);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-aurora: aurora 8s ease-in-out infinite alternate;

  @keyframes aurora {
    0% {
      background-position: 0 50%;
      transform: rotate(-5deg) scale(0.9);
    }

    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }

    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }

    75% {
      background-position: 50% 0;
      transform: rotate(3deg) scale(1.05);
    }

    100% {
      background-position: 0 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
}

@layer base {
  body {
    text-autospace: normal;
  }

  .shiki,
  .shiki span {
    background-color: var(--color-zinc-50) !important;
  }

  :where(.dark) {

    .shiki,
    .shiki span {
      background-color: var(--color-zinc-800) !important;
      color: var(--shiki-dark) !important;
    }
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}